/****** General ***********/

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&display=swap');

body {
    font-family: 'Syne', sans-serif;
}

:root {
    --main-color: #ECE2DA;
    --second-color: #3B8E46;
    --third-color: #D2776A;
    --button-color: #DC9F96;
    --second-color-button: #C02E44;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
}


h1 {
    font-weight: 800;
    font-size: 38px;
    line-height: 45.6px;
}

h2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
}

h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

p {
    font-weight: 400;
    font-size: 20px;
}

/** HEADER **/


/** HOME **/

.green ,h1 ,h3 {
  color: var(--second-color);
}